<div class="modal-header">
  <h4 class="modal-title">Change password</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="updatePasswordForm">

    <!-- Current password -->
    <div class="mb-3">
      <label for="currentPassword" class="form-label">Current password</label>
      <input type="password" id="currentPassword" class="form-control" formControlName="currentPassword">

      @if ((update_currentPasswordControl.touched || isUpdateFormSubmited)
      && update_currentPasswordControl.errors?.['required']) {
      <div class="text-danger small mt-1">
        Current password can’t be blank
      </div>
      }
    </div>

    <!-- New password -->
    <div class="mb-3">
      <label for="newPassword" class="form-label">New password</label>
      <input type="password" id="newPassword" class="form-control" formControlName="newPassword">

      @if ((update_newPasswordControl.touched || isUpdateFormSubmited)
      && update_newPasswordControl.errors?.['required']) {
      <div class="text-danger small mt-1">
        New password can’t be blank
      </div>
      }
    </div>

    <!-- Confirm new password -->
    <div class="mb-3">
      <label for="confirmNewPassword" class="form-label">Confirm new password</label>
      <input type="password" id="confirmNewPassword" class="form-control" formControlName="confirmNewPassword">

      @if ((update_confirmNewPasswordControl.touched || isUpdateFormSubmited)
      && update_confirmNewPasswordControl.errors?.['required']) {
      <div class="text-danger small mt-1">
        Confirm new password can’t be blank
      </div>
      }
    </div>

</form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="submit()">Change</button>
</div>