<div>
    <div>
        <h2>Register</h2>
        
        <form [formGroup]="registerForm" (ngSubmit)="registerSubmited()">

            
            <div> <!-- personName -->
                <div>
                    <label for="personName">Person name</label>
                </div>
                <div>
                    <input type="text" id="personName" formControlName="personName"/>
                    @if ((register_personNameControl.touched || isRegisterFormSubmited) && (register_personNameControl.errors?.['required'])) {
                        <span>Person name can`t be blank</span>
                    }
                </div>
            </div>

            <div> <!-- email -->
                <div>
                    <label for="email">Email</label>
                </div>
                <div>
                    <input type="text" id="email" formControlName="email"/>
                    @if ((register_emailControl.touched || isRegisterFormSubmited) && (register_emailControl.errors?.['required'])) {
                        <span>Email can`t be blank</span>
                    }
                </div>
            </div>

            <div> <!-- password -->
                <div>
                    <label for="password">Password</label>
                </div>
                <div>
                    <input type="password" id="password" formControlName="password"/>
                    @if ((register_passwordControl.touched || isRegisterFormSubmited) && (register_passwordControl.errors?.['required'])) {
                        <span>Password can`t be blank</span>
                    }
                </div>
            </div>

            <div> <!-- confirmPassword -->
                <div>
                    <label for="confirmPassword">Confirm password</label>
                </div>
                <div>
                    <input type="password" id="confirmPassword" formControlName="confirmPassword"/>
                    @if ((register_confirmPasswordControl.touched || isRegisterFormSubmited) && (register_confirmPasswordControl.errors?.['required'])) {
                        <span>Confirm password can`t be blank</span>
                    }
                </div>
            </div>

            <div> <!-- isAdmin -->
                <div>
                    <label for="isAdmin">Is admin</label>
                </div>
                <div>
                    <input type="checkbox" id="isAdmin" formControlName="isAdmin"/>
                </div>
            </div>

            <div> <!-- submit -->
                <div> </div>
                <div>
                    <button type="submit">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>