<div class="modal-header">
  <h4 class="modal-title">Register new employee</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="registerForm">
    
    <!-- Name -->
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" formControlName="personName"
             [class.is-invalid]="isRegisterFormSubmited && register_personNameControl.invalid">
      <div class="invalid-feedback">Введіть ім'я</div>
    </div>

    <!-- Email -->
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email"
             [class.is-invalid]="isRegisterFormSubmited && register_emailControl.invalid">
      <div class="invalid-feedback">Введіть коректний email</div>
    </div>

    <!-- Пароль -->
    <div class="mb-3">
      <label class="form-label">Пароль</label>
      <input type="password" class="form-control" formControlName="password"
             [class.is-invalid]="isRegisterFormSubmited && register_passwordControl.invalid">
      <div class="invalid-feedback">Введіть пароль</div>
    </div>

    <!-- Підтвердження паролю -->
    <div class="mb-3">
      <label class="form-label">Підтвердження паролю</label>
      <input type="password" class="form-control" formControlName="confirmPassword"
             [class.is-invalid]="isRegisterFormSubmited && register_confirmPasswordControl.invalid">
    </div>

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="adminCheck" formControlName="isAdmin">
      <label class="form-check-label" for="adminCheck">As admin</label>
    </div>

  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Скасувати</button>
  <button type="button" class="btn btn-primary" (click)="submit()">Зареєструвати</button>
</div>